/*color pallette:
echo beatch at dusk:
FAF1D5
DEC9AC
CCA18B
11282D
A5C4BB
*/

header {
	position:relative;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #DEC9AC;
  box-shadow: 0 -1px 2px #FAF1D5 inset, 0 1px 4px #CCA18B ;
  padding: 10px 0 10px 0;

  }



header > p {
  width: 40%;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: left;
  color: #11282D;


}


body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 20px;
  color: #333333;
  background-color: #FAF1D5;
}

.row {
  margin-left: 0px;
  *zoom: 1;
}


[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 0px;
  border: 1px solid #FAF1D5;
}




.span12 {
  width: 960px;
}

.span11 {
  width: 880px;
}

.span10 {
  width: 800px;
}

.span9 {
  width: 720px;
}

.span8 {
  width: 640px;
}

.span7 {
  width: 560px;
}

.span6 {
  width: 480px;
}

.span5 {
  width: 400px;
}

.span4 {
  width: 320px;
}

.span3 {
  width: 240px;
}

.span2 {
  width: 160px;
}

.span1 {
  width: 80px;
}



a {
  color: #A5C4BB;
  text-decoration: none;
}

a:hover, a:focus {
  color: #CCA18B;
  text-decoration: underline;
}


p {
  margin: 0 0 0px;
  color:#11282D;
}



img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  margin: 0;
  -ms-interpolation-mode: bicubic;
}


.img-polaroid {
  width: auto\9;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#center-piece{

  font-family: Georgia, serif ;
  font-style:italic;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

#details-container{

  height: 184px;
  width: auto/9;


}
article{
width: 980px;
margin: auto;
}

footer{
  font-style: small;
  font-size: 0.7em;

}

h1{
  font-family: 'Lobster Two', cursive; 
  font-size: 1.9em;
  line-height: 1.2em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #11282D;
  position: relative;
  margin-top: -160px;

}