/*color pallette:
echo beatch at dusk:
FAF1D5
DEC9AC
CCA18B
11282D
A5C4BB
*/

header {
  clear: both;
  width: 100%;
  display: block;
	position:relative;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #DEC9AC;
  box-shadow: 0 -1px 2px #FAF1D5 inset, 0 1px 4px #CCA18B ;
  padding: 5px 0 5px 0;

  }



header > p {

  font-size: 0.8em;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: #11282D;


}


body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 20px;
  color: #333333;
  background-color: #FAF1D5;
}


  .row-fluid [class*="span"] {
    border: 1px solid #FAF1D5;
    margin-left: 0%;
    *margin-left: 0%;
  }



a {
  color: #A5C4BB;
  text-decoration: none;
}

a:hover, a:focus {
  color: #CCA18B;
  text-decoration: underline;
}


p {
  margin: 0 0 0px;
  color:#11282D;
  font-family: georgia, serif;
}



img {
  width: auto\9;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  margin: 0;
  -ms-interpolation-mode: bicubic;
}


.img-polaroid {
  margin: 0;
  width: auto\9;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#center-piece{

  font-family: Georgia, serif ;
  font-style:italic;
  padding: 10px 20px 10px 20px;
}

article{
margin: auto;
}

footer{
  font-style: small;
  font-size: 0.7em;

}

h1{
  font-family: 'Lobster Two', cursive; 
  font-size: 1.9em;
  line-height: 1.2em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #11282D;
  position: relative;
  margin-top: -60%;

}

  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 0%;
    *margin-left: 0%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0%;
  }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span6 {
    width: 50%;
    *width: 49.97340425531915%;
  }
  .row-fluid .span3 {
    width: 25%;
    *width: 24.98670212765957%;
  }
  .row-fluid .span1 {
    width: 8.333333333333333%;
    *width: 8.328900709219858%;
  }