/*color pallette:
d8ecd4 - light green
e21a4d - magenta
333430 - grey 
1e1e1c - shadow
*/

footer{
  clear: both;
  display: block;
  -webkit-box-shadow: 0 9px 7px -9px black;
     -moz-box-shadow: 0 9px 7px -9px black;
          box-shadow: 0 9px 7px -9px black;
}

.span8{
padding: 1% 4% 0 4%;
}

.span4{
position: relative;
right: 3%;
}


.bg-pic{
width: 85%;
margin: 0 auto;
}


/*shadow*/

.name-box, .info-box, .buttons .span3 {
  box-shadow: 1px 2px 2px #1e1e1c;
  margin-bottom: 8%;
}

.rotate-left{
  transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg); /* IE 9 */
  -webkit-transform: rotate(-1.5deg); /* Safari and Chrome */
  -o-transform: rotate(-1.5deg); /* Opera */
  -moz-transform: rotate(-1.5deg); /* Firefox */
}


.rotate-right{
  transform: rotate(1.5deg);
  -ms-transform: rotate(1.5deg); /* IE 9 */
  -webkit-transform: rotate(1.5deg); /* Safari and Chrome */
  -o-transform: rotate(1.5deg); /* Opera */
  -moz-transform: rotate(1.5deg); /* Firefox */
}


.name-box{
  margin-top: 13%;
  background-color: #e21a4d;
  padding: 3% 7% 2% 7%;
  transform: rotate(2deg);
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Safari and Chrome */
  -o-transform: rotate(2deg); /* Opera */
  -moz-transform: rotate(2deg); /* Firefox */
}


.info-box {
  background-color: #d8ecd4;
  padding: 8% 10% 3% 10%;
}

.info-box p{

  line-height: 1.7em;
  color: 58,59,55,1 ;
}

.buttons .span3 {
  background-color: #d8ecd4;
  text-align: center;
  padding: 4% 3% 2% 3%;
  width: auto/9;
  display: inline-block;
}


.row-fluid .span3 {
  width: 20.404255319148934%;
  *width: 20.351063829787233%;
  margin-right: 2%;
}



h1{
  font-family: 'dk_pisangregular', cursive; 
  font-size: 3.5em;
  line-height: 1.1em;
  text-align: center;
  color: #d8ecd4;
  position: relative;
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari and Chrome */
  -o-transform: rotate(-2deg); /* Opera */
  -moz-transform: rotate(-2deg); /* Firefox */
}

h1:hover{
  text-shadow:1px 2px 0px #1e1e1c;
}

a:hover{
  color: #e21a4d;
}

body{
position: relative;
background-color:#07360e;
background-image:
-webkit-linear-gradient(white 1px, transparent 1px),
-webkit-linear-gradient(right, white 1px, transparent 1px),
-webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
-webkit-linear-gradient(right, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 13, 2013 */
@font-face {
    font-family: 'dk_pisangregular';
    src: url('../fonts/dk_pisang-webfont.eot');
    src: url('../fonts/dk_pisang-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dk_pisang-webfont.woff') format('woff'),
         url('../fonts/dk_pisang-webfont.ttf') format('truetype'),
         url('../fonts/dk_pisang-webfont.svg#dk_pisangregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**************media queries*******************/


/* Smartphones (portrait + landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {

.row-fluid{
  margin: auto;
}

.bg-pic{
  margin: auto;
  width: 250px;
}

a.sb.flat.red{
  width: 16px;
  height: 16px;
  background-size: 22px 22px;
}

h1{
  font-size: 2em;
}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}